* {margin: 0; padding: 0;}
.wrapper {margin: 0 auto; width: 95%;}

.container1 {display: flex; width: 80%; height: 300px; border: 3px solid blue;
justify-content: space-around; align-items: flex-end;}
.box1 {width: 20%; height: 150px; background-color: gold;}
.container2 {display: flex; width: 80%; height: 300px; border: 3px solid blue;
justify-content: space-between; align-items: flex-start; margin-top: 30px;}
.box2 {width: 20%; height: 150px; background-color: rgb(77, 207, 72);}
.container3 {display: flex; width: 80%; height: 300px; border: 3px solid blue;
justify-content: space-around; align-items: center; margin-top: 30px;}
.box3 {width: 20%; height: 150px; background-color: rgb(255, 76, 130);}

.wrap1 {display: grid; grid-template-columns: 20% 80%; grid-template-rows: 70px 100px 50px;
border: 3px solid green; width: 60%; height: 220px; margin-top: 50px;}
.grid1 {grid-column-start: 1; grid-column-end: 3; background-color: indianred;}
.grid2 {grid-column-start: 1; grid-column-end: 2; background-color: lawngreen;}
.grid3 {grid-column-start: 2; grid-column-end: 3; background-color: lightseagreen;}
.grid4 {grid-column-start: 1; grid-column-end: 3; background-color: lightslategrey;}

.wrap2 {display: grid; margin-top: 50px; width: 60%; height: 600px; margin-bottom: 50px;
grid-template-columns: 40% 35% 25%; grid-template-rows: 100px 200px 300px; border: 3px solid green;}
.grid5 {grid-column-start: 1; grid-column-end: 3; background-color: lightpink;}
.grid6 {grid-column-start: 3; grid-column-end: 4; background-color: gold;}
.grid7 {grid-column-start: 1; grid-column-end: 2; grid-row-start: 2; grid-row-end: 4;
  background-color: rgb(129, 88, 241);}
.grid8 {grid-column-start: 2; grid-column-end: 3; background-color: rgb(21, 119, 29);}
.grid9 {grid-column-start: 3; grid-column-end: 4; background-color: rgb(182, 37, 73);}
.grid10 {grid-column-start: 2; grid-column-end: 4; background-color: rgb(235, 165, 109);}